name: Build
on: [pull_request, push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - uses: carlosperate/arm-none-eabi-gcc-action@v1
      - name: Install nwlink
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: npm install -g nwlink
      - run: echo "$HOME/.npm-global/bin" >> $GITHUB_PATH
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          target: thumbv7em-none-eabihf
      - name: Install just
        uses: extractions/setup-just@v3
      - name: Build app
        run: just build
